.gold {
  display: inline-block;
  cursor: pointer;
  padding: .2em .4em .3em .3em !important;
}
.gold span {
  font-size: 1em;
  color: white !important;
}
.gold .glyphicon {
  color: #ffe635 !important;
}
